body {
    /* background-color: black; */
    background: radial-gradient(circle at 100% -50%, #ee6460 10%, black 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    /* font-family: 'Press Start 2P'; */
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    position: relative;
    top:20px; /* Adjusts the container slightly upwards */
}

.logo img {
    width: 90%; /* Adjust size for a medium-big logo */
    /* max-width: 300px; Ensures the logo doesn't get too large on big screens */
    height: auto;
    margin-bottom: 20px;
}

.subtitle {
    margin: 20px 0;
    font-size: 1rem; /* Adjust the size for readability */
    color: white; /* Assuming white text on a black background for readability */
    line-height: 2;
}


.subscribe-form {
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; Space between input and button */
}

.form-group .nes-input {
    flex: 1; /* Input takes up remaining space */
    max-width: calc(60% - 100px); /* Prevents input from shrinking too much */
}

.form-group .nes-btn {
    white-space: nowrap; /* Prevent button text from breaking */
    /* border: 2px solid white; */
}

.button-text {
    margin-top: 20px;
    color: white; /* Assuming white text on a black background */
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.button-group .nes-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between icon and text */
    padding: 10px 5px; /* Adjust padding to ensure good vertical alignment */
}

.button-group .nes-btn i {
    vertical-align: middle; /* Align icons vertically */
}

/* Responsive design for smaller screens */
@media (max-width: 500px) {
    .form-group {
        flex-direction: column;
    }
    .form-group .nes-input,
    .form-group .nes-btn {
        width: 100%;
        max-width: none;
    }
    .form-group .nes-btn {
        margin-top: 10px; /* Space between input and button when stacked */
    }

    .subtitle {
        font-size: 0.85rem; /* Adjust the size for readability */
        line-height: 2;
    }
}


/* Responsive design for smaller screens */
@media (max-width: 500px) {
    .button-group {
        flex-direction: column;
        gap: 10px;
    }
}